*.jpg
*.png
*.p
*.pt
*.npy
*.pkl
*.ckpt
*.log
*.c
*.so
*.neptune/
*.DS_Store

.ipynb_checkpoints/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
data/
generated_smiles/
checkpoints/
cache/
.vscode